  <h1>Productos dentro del carrito</h1>
  <table class="containerTable">
    <tr>
      <th>ID</th>
      <th>Quantity</th>
      <th>Precio</th>
      <th>Eliminar</th>
    </tr>
   {{#each cart.product}}
    <tr>
    <td>{{this.id._id}}</td>
    <td>{{this.quantity}}</td> 
    <td>{{this.id.price}}</td>
    <td>
      {{!-- ELIMINAR PRODUCTO --}}
      <form class="containerFiltro" action="/delete/{{../cart._id}}/product/{{this.id._id}}" method="get"> 
      <input type="hidden" name="eliminar" value="1">
      <button type="submit" class="btn btn-primary">🗑</button>
    </form></td> 
  </tr>
{{/each}}
<h1>TOTAL PRICE : {{this.totalPrice}}</h1>
  </table>




{{!-- BOTON PARA ENVIAR A OTRA PAGINA RESUMEN DE COMPRA --}}

<button type="submit" class="btn btn-primary" id="resumenCompra">COMPRAR</button>



    <script>

        document.querySelector('#resumenCompra').onclick = () => {
            fetch('http://127.0.0.1:8080/', { method: 'POST' })
                .then(result => result.json())
                .then(json => {
                    console.log(json)
                    
                })
                .catch(e => {
                    console.error('Error ')
                    console.error(e)
                })
        }

    </script>