  <h1>Productos dentro del carrito</h1>
  <table class="containerTable">
    <tr>
      <th>ID</th>
      <th>Quantity</th>
      <th>Precio</th>
      <th>Eliminar</th>
    </tr>
   {{#each cart.product}}
    <tr>
    <td>{{this.id._id}}</td>
    <td>{{this.quantity}}</td> 
    <td>{{this.id.price}}</td>
    <td>
     
      <form class="containerFiltro" action="/cart/delete/{{../cart._id}}/product/{{this.id._id}}" method="post"> 
      <input type="hidden" name="eliminar" value="1">
      <button type="submit" class="btn btn-primary">🗑</button>
    </form></td> 
  </tr>
{{/each}}
<h1>TOTAL PRICE : {{this.totalPrice}}</h1>
  </table>



    <form class="containerFiltro" action="/api/carts/{{cart._id}}/purchase" method="post"> 
      <input type="hidden" name="purchase" value="{{cart._id}}">
      <button type="submit" class="btn btn-primary">COMPRAR</button>
    </form>

