



  <h1>Bienvenido {{user.user.firts_name}}</h1>
<div class="containerFiltro"><button class="btn btn-secondary">
  <a href="/api/session/current">PROFILE</a></button></div>
  

    <form class="containerFiltro" action="api/session/logout" method="get"> 
        <input type="hidden" name="logout" value="1">
        <button type="submit" class="btn btn-primary">Loguot</button>
    </form>

    <form class="containerFiltro" action="/{{cartId}}" method="get"> 
        <input type="hidden" name="quantity" value="1">
        <button type="submit" class="btn btn-primary">CARRITO</button>
    </form>

  <div class="containerFiltro">
    <h6>Filtro por Precio</h6>
    <a class = "text-b" href="/products?sort=asc">De Menor a Mayor</a>
    <a class = "text-b" href="/products?sort=desc">De Mayor a Menor</a>
  </div>


  <div>
    <form action="/products" method="get">
  <label for="query">Filtrar por:</label>
  <select name="field" id="query">
    <option value="title">Título</option>
    <option value="description">Descripción</option>
    <option value="price">Precio</option>
    <option value="category">Categoría</option>
    <option value="stock">Stock</option>
    <option value="code">Codigo</option>
  </select>
  <input type="text" name="value" placeholder="Valor" />
  <button type="submit">Filtrar</button>
</form>
  </div>

<div class="row">
{{#each products.docs}}
<div class="card" style="width: 18rem;">
  <img src="{{this.thumbnail}}" alt="Thumbnail" width="100">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <h6 class="card-title">Codigo : {{this.code}}</h6>
    <h6 class="card-title">categoria : {{this.title}}</h6>
    <p class="card-text">{{this.description}}</p>
    <h5 class="card-title">Precio : {{this.price}}</h5>
    <h6 class="card-title">Stock : {{this.stock}}</h6>

  <form action="/api/carts/{{../cartId}}/product/{{this.id}}" method="post"> 
        <input type="hidden" name="quantity" value="1">
        <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
    </form>
  </div>
</div>
{{/each}}
</div>

 
  <div class="containerPag">
    {{#if hasNextPage}}
    <a href="{{prevLink}}">Anteriror</a>
    <a href="{{nextLink}}">Siguiente</a>
  {{/if}}
  </div>

